
<ul class = "list-unstlyled list-inline">
<li ><%= link_to 'Back', articles_path %> </li>
<li ><%= link_to 'Edit', edit_path %> </li>
</ul>

<h2><%= @article.title %> </h2>
<p> <%= @article.content %></p>
